extends layout/basic.jade

block title
    title FRC Team 2410 :: The Metal Mustangs

block intro
    .container-fluid
        div(style="background-color:#008cba;color:white;padding:60px;margin-left:-15px;margin-right:-15px;")
            h1 Welcome!
            p We are Metal Mustang Robotics, FRC Team 2410, from the Blue Valley School District in Overland Park, Kansas. Metal Mustang Robotics competes in FIRST (For Inspiration and Recognition of Science and Technology) Robotics Competitions. In FRC, high schools nationwide build a robot in a 6-week time span for competition. We are dedicated to providing opportunities for high school students to explore applications of science and technology as well as achieve personal goals and aspirations.
            p
                | Have questions? 
                a(href="contact.html").btn.btn-default contact us!

block content
    