extends layout/basic.jade

block title
    title FRC Team 2410 :: The Metal Mustangs

block intro
    .container-fluid
        div(style="background-color:#008cba;color:white;padding:60px;margin-left:-15px;margin-right:-15px;margin-bottom:65px;")
            .container.text-center
                h1(style="margin-bottom:65px;font-size:96px;") &#9822;
                h2(style="margin-bottom:65px;") The FIRST Robotics Competition Team 2410 <span class="hidden-xs">from Bluevalley School district in Overland Park, Kansas<span>
                p Have questions? 
                a(href="contact.html").btn.btn-outline-inverse.btn-lg contact us!

block content
    .row
        .col-xs-12
            h1 Who are we?
    .row(style="margin-bottom:65px;")
        .col-sm-9.col-xs-12
            p We are Metal Mustang Robotics, FRC Team 2410, from the Blue Valley School District in Overland Park, Kansas. Metal Mustang Robotics competes in FIRST Robotics Competitions. In FRC, high schools nationwide build a robot in a 6-week time span for competition. We are dedicated to providing opportunities for high school students to explore applications of science and technology as well as achieve personal goals and aspirations.

    .row
        .col-xs-12
            h1 What is FIRST?
    .row(style="margin-bottom:65px;")
        .col-sm-9.col-xs-12
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, amet, molestias. Facere, possimus, aliquid. Nemo deserunt, dicta! Possimus eos libero, deleniti dolores repellendus esse provident commodi nisi ab. Ea repudiandae, maiores, dolor, ab quae fuga pariatur odit esse similique illum cupiditate dolorum consequuntur eligendi magnam? Enim esse voluptatibus doloribus distinctio praesentium dignissimos nostrum eius error suscipit inventore vitae ipsum, asperiores sapiente mollitia animi vero quos pariatur sint. Cumque officiis rerum doloremque sapiente ad magnam aperiam non, facilis natus debitis vitae qui ex impedit, eum. Aliquid, ipsum tenetur recusandae! Eum, dignissimos odio commodi suscipit. Rem dolores, assumenda nisi quaerat quae! Modi eaque, ut? Tenetur dolore fuga, quisquam, inventore explicabo modi sint iusto, rem, odit ab a aperiam rerum vero. Mollitia, aperiam!
        .col-sm-3.hidden-xs
            img(src=assets+first, alt="FIRST").img-responsive

    .row
        .col-xs-12
            h1 What's the game this year? <small>RecycleRush!</small>
    .row(style="margin-bottom:65px;")
        .col-sm-9.col-xs-12
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam similique quam, tempora aliquam pariatur nesciunt error iusto unde, facere dolore illum libero, praesentium fugiat porro voluptate adipisci placeat quis sint mollitia laborum ad nobis sit! Ipsum ab quia, hic labore, deleniti repellat, nostrum minus doloribus, distinctio natus quisquam tempore. Quo distinctio, reprehenderit. Doloribus labore molestiae tenetur doloremque rerum fugit error voluptate harum vel, quae at, sapiente accusantium sequi aspernatur nulla nostrum iste praesentium, quibusdam veniam quaerat quasi. Voluptatum sapiente autem perspiciatis quod, quas tempora quidem magni, praesentium inventore odio aliquid et, ducimus sed amet debitis quia eos, magnam quibusdam delectus soluta nam adipisci! Veniam, esse. Autem nam possimus distinctio aliquid, quisquam deleniti tenetur! Possimus iure eveniet repellendus cupiditate? Iste, nihil.
        .col-sm-3.hidden-xs
            img(src=assets+recyclerush, alt="RecycleRush").img-responsive

    .row(style="margin-bottom:65px;")
        .col-sm-6.col-xs-12
            h1 2015 Season Info
            p
                b Kick Off:
                | January 3rd
            p
                b Build Season:
                | January 3rd - February 17th
            p
                b Greater Kansas City Regional:
                | March 11th through 14th
            p
                b Hub City Regional:
                | March 25 through 28th

        .col-sm-6.hidden-xs
            div
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Team2410" data-widget-id="554386837306105856">Tweets by @Team2410</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>