.footer
    .container.text-center
        p Built by <a href="http://github.com/dominictassio" target="_blank">Dominic Tassio</a> with <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> and <a href="http://bootswatch.com" target="_blank">Bootswatch</a> for FRC Team 2410
        p -
        p 
            | A special thanks to our sponsors for all that they give us.
        p
            span  · 
            each sponsor in sponsors
                a(href=sponsor[0], target="_blank")= sponsor[1]
                span  · 
        p -
        p
            span  · 
            a(href="#") Home
            span  · 
            a(href="team.html") Team
            span  · 
            a(href="media.html") Media
            span  · 
            a(href="community.html")  Community
            span  · 
            a(href="robots.html") Robots
            span  · 
            a(href="blog.html") Blog
            span  · 
            a(href="contact.html") Contact
            span  · 
        p
            span  · 
            a(href="https://twitter.com/team2410") Twitter
            span  · 
            a(href="https://facebook.com/FRC2410") Facebook
            span  · 
            a(href="http://github.com/CAPS-Robotics") Github
            span  · 
        p &copy; 2015 Team 2410