nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button"
                   data-toggle="collapse"
                   data-target="#navbar"
                   aria-expanded="false"
                   aria-controls="navbar").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="#").navbar-brand The Metal Mustangs
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="#")
                        span.glyphicon.glyphicon-home
                        |  Home
                li
                    a(href="team.html")
                        span.glyphicon.glyphicon-user
                        |  Team
                li
                    a(href="media.html")
                        span.glyphicon.glyphicon-picture
                        |  Media
                li
                    a(href="community.html") 
                        span.glyphicon.glyphicon-heart
                        |  Community
                li
                    a(href="robots.html")
                        span.glyphicon.glyphicon-wrench
                        |  Robots
                li
                    a(href="blog.html")
                        span.glyphicon.glyphicon-globe
                        |  Blog
                li
                    a(href="contact.html")
                        span.glyphicon.glyphicon-envelope
                        |  Contact
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="https://twitter.com/team2410") Twitter
                li
                    a(href="https://facebook.com/FRC2410") Facebook